body,img,.col-xs-5,.col-md-3{
  margin: 0;
  padding: 0;
}

body{
  background-color: #87CEFA;
}

.whole{
  margin: 4% 4% 4% 4%;
  text-align: center;
}

.col-md-3>img,.col-xs-5>img{
  width: 50%;
  height: 50%;
}

.col-md-3>p,.col-xs-5>p{
  color: 	#3CB371;
  font-family: 微软雅黑, serif;
}

.col-md-3>p:hover,.col-xs-5>p:hover{
  color: 	#556B2F;
}

.item{
  border-radius: 20px;
}

.row{
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;

}

.title{
  text-align: left;
  margin-left:6%;
}

.mask{
  position: absolute;
  background-color: #696969 ;
  height: 82%;
  background-color: rgba(136,136,136,0.7);
  width: 50%;
  margin-left: 25%;
  border-radius: 20px;
}

.shadows{
  transition: all 0.010s linear;
  -webkit-transition: all 0.010s ease-in-out;
  -moz-transition: all 0.010s ease-in-out;
  outline:none;
}

.shadows:hover{
  border:white 3px solid;
  box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px white;
  -moz-box-shadow: 0 0 5px white;
}

@media screen and (max-width: 769px) {
  .mask{
    position: absolute;
    background-color: #696969 ;
    height: 70%;
    background-color: rgba(136,136,136,0.7);
    width: 50%;
    margin-left: 25%;
    border-radius: 20px;
  }
}
